language: python
python:
    - "2.7"
install: 
    - "pip install -r requirements.txt --use-mirrors"
    - "pip install pytest mock --use-mirrors"
    - "pip install ."
script: 
    - "python setup.py test"
